<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataProvider" value="System.Data.SqlClient" />
    <add key="ConnectionStringName" value="DBLoteria" />
  </appSettings>
  <connectionStrings>
    <add name="DBLoteria" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=DBLoteria; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>