<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connectionDB" value="Prova2" />
  </appSettings>
  <connectionStrings>
    <add name="Prova2" connectionString="Server=localhost;Database=Prova2;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient" />
    <!--<add name="Prova2" connectionString="Data Source=(localdb)\MSSqllocaldb;Initial Catalog=Prova2;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>